<h1>Time Tracking</h1>
<br />
<div class="col-md-6">
  <ul class="entry well">
    <% @time_clocks.each do |time_clock| %>
      <li><%=duration(time_clock) %></li>
    <% end %>
    <br/>
    <li><%=earned_amount(@time_clocks) %></li>
  </ul>
  <br />
  <% if @active %>
    <%= link_to "Stop Timer", stop_path(@active), :class => "btn btn-primary" %>
  <% else %>
    <%=link_to "New Timer", start_path, :class => "btn btn-primary" %>
  <% end %>
</div>
